<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Lista de Cadastros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='_css/style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Pessoas Cadastradas</h2>
        {% if pessoas %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Cidade</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.idade }}</td>
                    <td>{{ pessoa.cidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhum cadastro encontrado.</p>
        {% endif %}
        <p><a href="{{ url_for('index') }}">Voltar para o Formulário</a></p>
    </div>
</body>

</html>